html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
* {
    box-sizing:border-box
}
*:focus {
    outline:none
}
html {
    scroll-behavior: smooth;
}
body {
  line-height: 1;
  direction: rtl;
  font-family: 'iransans', sans-serif;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.header-snapp {
  width: 100%;
  background: #fff;
  display: flex;
  gap: 25px;
  min-height: 96px;
  align-items: center;
  padding: 0 11.5%;
  border-bottom: 1px solid #e5e5e5;
}
.wrapper-menu-header-snapp {
    display: flex;
    flex-direction: row;
    gap: 35px;
}
.item-menu-header-snapp a {
    color: #3f3f3f;
    text-decoration: none;
}
.submenu-header-snapp {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}
.item-menu-header-snapp {
    display: flex;
    flex-direction: row;
    position: relative;
}
.submenu-header-snapp {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    padding: 15px;
    top: 32px;
    width: 200px;
    right: 50%;
    transform: translateX(50%);
    visibility: hidden;
    transition: 0.3s all ease-in-out;
    opacity: 0;
    border: 1px solid #dedede;
    border-radius: 10px;
    background: #fff;
}
.item-menu-header-snapp:hover .submenu-header-snapp {
    visibility: visible;
    opacity: 1;
}
.item-menu-header-snapp > svg {
    transform: scale(0.6) rotate(90deg);
    margin-top: -3px;
}
.item-menu-header-snapp .submenu-snapp-item a {
  width: 100%;
  display: flex;
  padding: 8px 0;
}
.item-menu-header-snapp .submenu-snapp-item a:hover {
  color: #00d16f;
  font-weight: bold;
}
@font-face {
  font-family: 'iransans';
  src: url(/assets/fonts/fa-Iran-sans-web-light.woff2);
  font-weight: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'iransans';
  src: url(/assets/fonts/fa-Iran-sans-web-bold.woff2);
  font-weight: bold;
  font-display: fallback;
}