html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
* {
    box-sizing:border-box
}
*:focus {
    outline:none
}
html {
    scroll-behavior: smooth;
}
body {
  line-height: 1;
  direction: rtl;
  font-family: 'iransans', sans-serif;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.header-snapp {
  width: 100%;
  background: #fff;
  display: flex;
  gap: 25px;
  min-height: 96px;
  align-items: center;
  padding: 0 11.5%;
  border-bottom: 1px solid #e5e5e5;
}
.wrapper-menu-header-snapp {
    display: flex;
    flex-direction: row;
    gap: 35px;
}
.item-menu-header-snapp a {
    color: #3f3f3f;
    text-decoration: none;
}
.submenu-header-snapp {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}
.item-menu-header-snapp {
    display: flex;
    flex-direction: row;
    position: relative;
}
.submenu-header-snapp {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    padding: 15px;
    top: 32px;
    width: 200px;
    right: 50%;
    transform: translateX(50%);
    visibility: hidden;
    transition: 0.3s all ease-in-out;
    opacity: 0;
    border: 1px solid #dedede;
    border-radius: 10px;
    background: #fff;
}
.item-menu-header-snapp:hover .submenu-header-snapp {
    visibility: visible;
    opacity: 1;
}
.item-menu-header-snapp > svg {
    transform: scale(0.6) rotate(90deg);
    margin-top: -3px;
}
.item-menu-header-snapp .submenu-snapp-item a {
  width: 100%;
  display: flex;
  padding: 8px 0;
}
.item-menu-header-snapp .submenu-snapp-item a:hover {
  color: #00d16f;
  font-weight: bold;
}
.first-section-snapp-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.inner-right-box-snapp,.inner-left-box-snapp {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.inner-right-box-snapp {
  background: #21aa58;
  color: #fff;
  padding: 35px 15% 35px 35px;
  justify-content: space-between;
}
.wrapper-img-box-first-snapp {
  display: flex;
}
.wrapper-img-box-first-snapp > img {
  max-height: 455px;
  transform: scaleX(-1);
}
.main-title-snapp {
  font-size: 36px;
  line-height: 52px;
  font-weight: 700;
}
.main-desc-snapp {
  font-size: 20px;
  padding: 16px 0;
  line-height: 1.5;
}
.inner-right-box-snapp form {
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 15px;
}
.inner-right-box-snapp form input#mobile_phone {
  border: none;
  background: transparent;
  border-bottom: 1px solid #fff;
  text-align: right;
  flex: 1;
  font-size: 16px;
  padding: 10px;
  font-family: 'iransans' ,sans-serif;
}
.inner-right-box-snapp form button {
  background: #fff;
  border: none;
  min-width: 120px;
  color: #00d16f;
  font-family: 'iransans', sans-serif;
  font-size: 100%;
  border-radius: 6px;
}
.btn-first-section-to-app-snapp {
  border: 1px solid #fff;
  width: fit-content;
  color: #fff;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 6px;
  font-weight: bold;
}
@font-face {
  font-family: 'iransans';
  src: url(/assets/fonts/fa-Iran-sans-web-light.woff2);
  font-weight: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'iransans';
  src: url(/assets/fonts/fa-Iran-sans-web-bold.woff2);
  font-weight: bold;
  font-display: fallback;
}