html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
* {
    box-sizing:border-box
}
*:focus {
    outline:none
}
html {
    scroll-behavior: smooth;
}
body {
  line-height: 1;
  direction: rtl;
  font-family: 'iransans', sans-serif;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.header-snapp {
  width: 100%;
  background: #fff;
  display: flex;
  gap: 25px;
  min-height: 96px;
  align-items: center;
  padding: 0 11.5%;
  border-bottom: 1px solid #e5e5e5;
}
.wrapper-menu-header-snapp {
    display: flex;
    flex-direction: row;
    gap: 35px;
}
.item-menu-header-snapp a {
    color: #3f3f3f;
    text-decoration: none;
}
.submenu-header-snapp {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}
.item-menu-header-snapp {
    display: flex;
    flex-direction: row;
    position: relative;
}
.submenu-header-snapp {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    padding: 15px;
    top: 32px;
    width: 200px;
    right: 50%;
    transform: translateX(50%);
    visibility: hidden;
    transition: 0.3s all ease-in-out;
    opacity: 0;
    border: 1px solid #dedede;
    border-radius: 10px;
    background: #fff;
}
.item-menu-header-snapp:hover .submenu-header-snapp {
    visibility: visible;
    opacity: 1;
}
.item-menu-header-snapp > svg {
    transform: scale(0.6) rotate(90deg);
    margin-top: -3px;
}
.item-menu-header-snapp .submenu-snapp-item a {
  width: 100%;
  display: flex;
  padding: 8px 0;
}
.item-menu-header-snapp .submenu-snapp-item a:hover {
  color: #00d16f;
  font-weight: bold;
}
.first-section-snapp-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
}
.inner-right-box-snapp,.inner-left-box-snapp {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.inner-right-box-snapp {
  background: #21aa58;
  color: #fff;
  padding: 35px 15% 35px 35px;
  justify-content: space-between;
}
.wrapper-img-box-first-snapp {
  display: flex;
}
.wrapper-img-box-first-snapp > img {
  max-height: 455px;
  transform: scaleX(-1);
}
.main-title-snapp {
  font-size: 36px;
  line-height: 52px;
  font-weight: 700;
}
.main-desc-snapp {
  font-size: 20px;
  padding: 16px 0;
  line-height: 1.5;
}
.inner-right-box-snapp form {
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 15px;
}
.inner-right-box-snapp form input#mobile_phone {
  border: none;
  color: #fff;
  background: transparent;
  border-bottom: 1px solid #fff;
  text-align: right;
  flex: 1;
  font-size: 16px;
  padding: 10px;
  font-family: 'iransans' ,sans-serif;
}
.inner-right-box-snapp form button {
  background: #fff;
  border: none;
  min-width: 120px;
  color: #00d16f;
  font-family: 'iransans', sans-serif;
  font-size: 100%;
  border-radius: 6px;
}
.btn-first-section-to-app-snapp {
  border: 1px solid #fff;
  width: fit-content;
  color: #fff;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 6px;
  font-weight: bold;
}
.inner-right-box-snapp form input#mobile_phone::placeholder {
  color: #fff;
  opacity: 0.6;
}
.second-section-snapp-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 15%;
  gap: 30px;
}
.link-download-app-snapp > img {
  width: 160px;
}
.third-section-snapp-wrapper {
  width: 100%;
  display: flex;
  padding: 50px 15%;
  background: #f2f5f8;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-third-section-snapp {
  color: #404040;
  padding: 0 0 50px;
  font-size: 36px;
  font-weight: bold;
}
.item-features-snapp {
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 18px;
  background: #fff;
  padding: 15px 8px;
  text-decoration: none;
}
.item-features-snapp > img {
  width: 62px;
  height: 62px;
}
.box-titles-feature-snapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.box-titles-feature-snapp > h3 {
  font-size: 16px;
  color: #3f3f3f;
  font-weight: bold;
}
.box-titles-feature-snapp > p {
  color: #a3a3a3;
  font-size: 14px;
}
.bottom-third-section-snapp {
  width: 100%;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}
.slider-section-snapp {
  width: 100%;
  padding: 100px 15%;
}
[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
}

.number-slide1 {
  background: rgb(64, 175, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 175, 255, 1) 0%,
    rgba(63, 97, 255, 1) 100%
  );
}

.number-slide2 {
  background: rgb(255, 75, 64);
  background: linear-gradient(
    128deg,
    rgba(255, 154, 63, 1) 0%,
    rgba(255, 75, 64, 1) 100%
  );
}

.number-slide3 {
  background: rgb(182, 255, 64);
  background: linear-gradient(
    128deg,
    rgba(182, 255, 64, 1) 0%,
    rgba(63, 255, 71, 1) 100%
  );
  background: linear-gradient(
    128deg,
    rgba(189, 255, 83, 1) 0%,
    rgba(43, 250, 82, 1) 100%
  );
}

.number-slide4 {
  background: rgb(64, 255, 242);
  background: linear-gradient(
    128deg,
    rgba(64, 255, 242, 1) 0%,
    rgba(63, 188, 255, 1) 100%
  );
}

.number-slide5 {
  background: rgb(255, 64, 156);
  background: linear-gradient(
    128deg,
    rgba(255, 64, 156, 1) 0%,
    rgba(255, 63, 63, 1) 100%
  );
}
.number-slide6 {
  background: rgb(64, 76, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 76, 255, 1) 0%,
    rgba(174, 63, 255, 1) 100%
  );
}

.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot--active {
  background: #000;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
  fill: "#fff";
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath d='M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z' %3E%3C/path%3E%3C/svg%3E");
}

.arrow--right {
  left: auto;
  right: 5px;
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 24 24' %3E%3Cpath d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'%3E%3C/path%3E%3C/svg%3E");
}

.arrow--disabled.arrow--left {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 24 24' %3E%3Cpath d='M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z' %3E%3C/path%3E%3C/svg%3E");
}

.arrow--disabled.arrow--right {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 24 24' %3E%3Cpath d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'%3E%3C/path%3E%3C/svg%3E");
}

.slider-section-snapp .navigation-wrapper {
  border-radius: 10px;
  overflow: hidden;
}

.dots {
  position: absolute;
  bottom: 8px;
  right: 50%;
  transform: translateX(50%);
  background-color: hsla(0,0%,100%,.18);
  border-radius: 15px;
  padding: 5px;
}
.dot--active {
  background: #fff !important;
}
.dot {
  width: 5px !important;
  height: 5px !important;
  padding: 4px !important;
  margin: auto 3px !important;
}
.banners-section-snapp-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  flex-direction: row-reverse;
}
.banner-title-snapp {
  font-size: 22px;
  font-weight: bold;
}
.banner-desc-snapp {
  font-size: 14px;
  line-height: 24px;
}
.banners-section-snapp-wrapper .inner-right-box-snapp {
  background: #fff;
  color: initial;
  justify-content: start;
  gap: 30px;
  padding: 35px 35px 35px 15%;
}
.wrapper-img-box-banner-snapp > img {
  max-height: 455px;
}
.full-width-inner-banners {
  width: 100%;
  flex: 1;
  padding: 0 15%;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: -70px;
  margin-bottom: 30px;
}
.item-inner-banner-snapp h4 {
  font-size: 17px;
  font-weight: bold;
  line-height: 2;
}
.item-inner-banner-snapp p {
  font-size: 12px;
  line-height: 20px;
}
.img-inner-banner-snapp {
  background: #f2f5f8;
  border-radius: 18px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-inner-banner-snapp {
  margin: auto 32px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@font-face {
  font-family: 'iransans';
  src: url(/assets/fonts/fa-Iran-sans-web-light.woff2);
  font-weight: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'iransans';
  src: url(/assets/fonts/fa-Iran-sans-web-bold.woff2);
  font-weight: bold;
  font-display: fallback;
}